<div ng-swipe-left="$state.go('home4');" style="height:65vh;">
  <h1 class ="text-center">
    Your daily</br>
    <b>intake</b></br>
    should be of</br>
    <b>{{profile.calories}}</b></br>
    </br>
    Would you</br>
    <b>like</b></br>
    a shake?</br>
  </h1>
</div>
<div class="center-button">
  <a ui-sref="home4">
    <button class="btn btn-link">
      <i class="material-icons md-normal-chevron md-color-chevron">chevron_right</i>
    </button>
  </a>
</div>

<!-- v0.1.2 -->
<!-- 
  <section class="container" style="height:90vh;">
  <div class="container">
    <h1 class ="text-center">
      Your daily</br>
      <b>intake</b></br>
      should be of</br>
      <b>{{profile.calories}}</b></br>
      </br>
      Would you</br>
      <b>like</b></br>
      a shake?</br>
    </h1>
  </div>
  </section>

  <section style="height:10vh;">
  <div class="buttonContainer">
    <a ui-sref="home4">
        <button class="col-xs-5 btn btn-link button-placement">
          <i class="material-icons md-normal md-color">chevron_right</i>
        </button>
      </a>
  </div>
  </section>
</div>
 -->