<div ng-swipe-left="$state.go('order');" style="height:100%;">
 	<h1 class ="text-center">
	 	We</br>
	 	are</br>
	 	<b>finally!</b></br>
	 	Getting there!
	</h1>
</div>
<div class="center-button">
  <a ui-sref="order">
    <button class="btn btn-link">
      <i class="material-icons md-normal-chevron md-color-chevron">chevron_right</i>
    </button>
  </a>
</div>

<!-- v0.1.2 -->
<!-- 
	<section class="container" style="height:90vh;">
	<div class="container">
	 	<h1 class ="text-center">
		 	We</br>
		 	are</br>
		 	<b>finally!</b></br>
		 	Getting there!
		</h1>
	</div>
	</section>

	<section style="height:10vh;">
 	<div class="buttonContainer">
		<a ui-sref="order">
	    	<button class="col-xs-5 btn btn-link button-placement">
	    		<i class="material-icons md-normal md-color">chevron_right</i>
	    	</button>
    	</a>
	</div>
	</section>

</div>
-->