<div ng-swipe-left="$state.go('home2');" style="height:65vh;">
	<h1 class ="text-center">
		We are happy</br>
		<b>you</b></br>
		want a</br>
		<b>healthier</b> life
	</h1>

</div>
<div class="center-button">
	<a ui-sref="home2">
		<button class="btn btn-link">
				<i class="material-icons md-normal-chevron md-color-chevron">chevron_right</i>
		</button>
	</a>
</div>
<!-- 
	<div class="buttonContainer">
		<a ui-sref="home2">
	    	<button class="col-xs-5 btn btn-link" style="position:absolute; right:5vw; bottom:2vh;">
	    		<i class="material-icons md-normal md-color">chevron_right</i>
	    	</button>
    	</a>
	</div>
 -->
