<!doctype html>

<html ng-app="clientWebApp">
  <head>
    <meta charset="utf-8">
    <title>Perfect Food</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, height=devive-height, initial-scale=1, maximum-scale=1"/> <!--320-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/primaryColor.less" rel="stylesheet/less">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.0.2/nouislider.min.css" rel="stylesheet">

    <!-- build:js(.) scripts/vendor.js -->
    <!-- less -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- slider -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.0.2/nouislider.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/home2.js"></script>
    <script src="scripts/controllers/home3.js"></script>
    <script src="scripts/controllers/home4.js"></script>
    <script src="scripts/controllers/home5.js"></script>
    <script src="scripts/controllers/order.js"></script>
    <script src="scripts/controllers/order2.js"></script>
    <script src="scripts/controllers/information.js"></script>
    <script src="scripts/controllers/information2.js"></script>
    <!-- endbuild -->

  </head>
  <body class="backgroundColor" onresize="">

    <!-- <img src="background.png" class="bg" /> -->
<!-- 
    <div class="header-panel well-material-green" style="height:10vh;">
        <h1>Perfect Food</h1>
    </div>
     -->
    <div class="header-panel well well-material-blue-grey"><h1>Perfect Food</h1></div>
    <div class="separation-div"></div>
    <div class="mid-div ui-view"></div>
    <img style="position:absolute; bottom:0vh; right:0vw; height:90%; z-index:-1;" SRC="energic-man.png" />
<!-- 
  <div class="row lineDiv">
    <div class="col-md-3 col-xs-12"></div>
    <div class="col-md-1 col-xs-1">
      <div class="row checkbox checkbox-primary" style="padding-left:0.5vw;">
        <label> <input checked="" type="checkbox" ng-click="shake1 = !shake1"> </label>
      </div>
    </div>
    <div class="col-md-1 col-xs-1">
      <div class="row checkbox checkbox-primary" style="padding-left:0.5vw;">
        <label> <input type="checkbox" ng-click="shake2 = !shake2"> </label>
      </div>
    </div>
    <div class="col-md-1 col-xs-1">
      <div class="row checkbox checkbox-primary" style="padding-left:0.5vw;">
        <label> <input type="checkbox" ng-click="shake3 = !shake3"> </label>
      </div>
    </div>
    <div class="col-md-1 col-xs-1">
      <div class="row checkbox checkbox-primary" style="padding-left:0.5vw;">
        <label> <input type="checkbox" ng-click="shake4 = !shake4"> </label>
      </div>
    </div>
  </div>

     <div class="well well-material-blue-grey" style="width:100vw; height:40vh;"></div>
      -->
    <!-- <div ui-view style="width:100vw; height:100vh; overflow:hidden;"></div> -->

    <!-- <div class="header-panel well-material-green" style="height:10vh;"></div> -->
    <script type="text/javascript">
    </script>
</body>
</html>
