<div ng-swipe-left="$state.go('information');" style="height:65vh;">
  <h1 class ="text-center">
    In order</br>
    to provide</br>
    <b>you</b></br>
    the <b>perfect</b></br>
    meal</br>
    we need</br>
    to ask you</br>
    some questions
  </h1>
</div>
<div class="center-button">
  <a ui-sref="information">
    <button class="btn btn-link">
      <i class="material-icons md-normal-chevron md-color-chevron">chevron_right</i>
    </button>
  </a>
</div>

<!-- v.0.1.2 -->
<!-- 
<section class="container" style="height:90vh;">
  <div class="container">
    <h1 class ="text-center">
      In order</br>
      to provide</br>
      <b>you</b></br>
      the <b>perfect</b></br>
      meal</br>
      we need</br>
      to ask you</br>
      some questions
    </h1>
  </div>
  </section>
    <a ui-sref="information">
      <button class="col-xs-5 btn btn-link button-placement">
        <i class="material-icons md-normal md-color">chevron_right</i>
      </button>
    </a>
  </div>
  </section>

<section style="height:10vh;">
  <div class="buttonContainer">
 -->
  <!-- v0.1.1 -->
<!-- 
    <a ui-sref="home">
      <button class="col-xs-5 btn btn-link" style="position:absolute; left:5vw; bottom:2vh;">
        <i class="material-icons md-normal">chevron_left</i>
      </button>
    </a>
    <a ui-sref="information">
      <button class="col-xs-5 btn btn-link" style="position:absolute; right:5vw; bottom:2vh;">
        <i class="material-icons md-normal">chevron_right</i>
      </button>
    </a>
-->
